<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EpiCare - PWID Epilepsy Support Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/index-CNQuxnEm.css') }}">
    <script type="module" src="{{ url_for('static', filename='assets/index-PzjlJCOY.js') }}"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>